<!-- BEGIN: main -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<div class="row">
    <div class="col-md-14">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Cấu hình ProFile</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Slogan</label>
                    <input type="text" class="form-control" id="salogan" value="{INFO.salogan}">
                </div>
                <div class="form-group">
                    <label>Facebook</label>
                    <input type="text" class="form-control" id="facebook" value="{INFO.facebook}">
                </div>
                <div class="form-group">
                    <label>Instagram</label>
                    <input type="text" class="form-control" id="instagram" value="{INFO.instagram}">
                </div>
                <div class="form-group">
                    <label>Zalo</label>
                    <input type="text" class="form-control" id="zalo" value="{INFO.zalo}">
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit" id="submit">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Thông tin</h3>
            </div>
            <div class="panel-body">
                <img src="nukeviet/{USER.photo}" alt="">
            </div>
            <div class="panel-footer">
                <div class="row">
                    <p><b>Họ và tên:</b> {USER.first_name} {USER.last_name}</p>
                </div>
                <div class="row">
                    <p><b>Email:</b>{USER.email}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {err}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    $('#submit').click(function() {
        var payload = new FormData();
        payload.append('salogan', $("#salogan").val());
        payload.append('facebook', $("#facebook").val());
        payload.append('instagram', $("#instagram").val());
        payload.append('zalo', $("#zalo").val());
        $.ajax({
          url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=card_profile&submit=1',
          type: 'POST',
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          success: function (res) {
            if (res.status) {
                toast.success($res.mess);
            } else {
                toast.error($res.mess);
            }
          }
        });
    });
</script>
<!-- END: main -->
