<!-- BEGIN: main -->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="#one" aria-controls="one" role="tab" data-toggle="tab">Chi Tiết Dự Án</a>
                </li>
                <li role="presentation">
                    <a href="#two" aria-controls="two" role="tab" data-toggle="tab">Thông Tin Quyên Góp</a>
                </li>
                <li role="presentation">
                    <a href="#three" aria-controls="three" role="tab" data-toggle="tab">Lịch Sử Quyên Góp</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="one">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {V.ten_du_an}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div id="my-pics" class="carousel slide" data-ride="carousel"
                                    style="width:300px;margin:auto;">
                                    <ol class="carousel-indicators">
                                        <li data-target="#my-pics" data-slide-to="0" class="active"></li>
                                        <li data-target="#my-pics" data-slide-to="1"></li>
                                        <li data-target="#my-pics" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                    <!-- BEGIN: hinh_anh -->
                                        <div class="{ACTIVE}">
                                            <img src="{H}" alt="Sunset over beach">
                                        </div>
                                    <!-- END: hinh_anh -->
                                        <a class="left carousel-control" href="#my-pics" role="button"
                                            data-slide="prev">
                                            <span class="icon-prev" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#my-pics" role="button"
                                            data-slide="next">
                                            <span class="icon-next" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 10px;">
                                <div class="col ml-2">
                                    {V.mo_ta_chi_tiet}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-danger" data-toggle="modal" data-target="#modalQuyengop">Quyên góp</button>
                        </div>
                    </div>
                </div>
                <div id="modalQuyengop" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>NHập vào họ và tên</label>
                                <input type="text" class="form-control" id="full_name">
                            </div>
                            <div class="form-group">
                                <label>NHập vào email</label>
                                <input type="email" class="form-control" id="email_quyen_gop">
                            </div>
                        </form>
                        </div>
                        <div class="modal-footer">
                            <div id="donate-button-container">
                                <div id="donate-button"></div>
                                <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
                                <script>
                                PayPal.Donation.Button({
                                    env:'sandbox',
                                    hosted_button_id:'{V.ma_du_an}',
                                    image: {
                                        src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
                                        alt:'Donate with PayPal button',
                                        title:'PayPal - The safer, easier way to pay online!',
                                    },
                                    onComplete: function (params) {
                                        $.ajax({
                                            type:'POST',
                                            url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=chitietduan&create=1',
                                            data:payload,
                                            cache:false,
                                            contentType: false,
                                            processData: false,
                                            success:function(res){
                                                if(res.status){
                                                    toastr.success(res.mess);
                                                }else{
                                                    $.each(res.mess , function(key, value){
                                                        toastr.error(value);
                                                    });
                                                }
                                            },
                                        
                                        });
                                    }
                                }).render('#donate-button');
                                </script>
                                </div>
                                
                      </div>
                    </div>
                </div>
                  
                <div role="tabpanel" class="tab-pane fade" id="two">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Người ủng hộ</th>
                                <th>Số  Tiền</th>
                                <th>Thời Gian</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>$2</td>
                                <td>Hôm nay</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="three">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Số  Tiền</th>
                                <th>Thời Gian</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>$2</td>
                                <td>Hôm nay</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- END: main -->