<!-- BEGIN: main -->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Lịch Sử Quyên Góp
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã Dự Án</th>
                        <th>Tên Dự Án</th>
                        <th>Số Tiền Quyên Góp</th>
                        <th>Thời Gian</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>A123</td>
                        <td>Dự Án Từ Thiện</td>
                        <td>$2</td>
                        <td>Hôm nay</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END: main -->