<!-- BEGIN: main -->
<div class="row">
<!-- BEGIN: list -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="{VALUE.url_chi_tiet}">{VALUE.ten_du_an}</a>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row text-center">
                <div class="col">
                    <img src="{VALUE.hinh_anh}" class="img-rounded">
                </div>
            </div>
            <div class="row" style="margin-left: 10px; margin-top: 10px;">
                <div class="col">
                    {VALUE.mo_ta_ngan}
                </div>
            </div>
        </div>
    </div>
<!-- END: list -->

</div>
<!-- END: main -->