<!-- BEGIN: main -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Danh sách dự án 
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên dự án</th>
                        <th>Mô tả ngắn</th>
                        <th>Mô tả chi tiết</th>
                        <th>Số tiền</th>
                        <th>Hình ảnh</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- BEGIN: list_du_an -->
                    <tr>
                        <th>{KEY}</th>
                        <td>{VALUE.ten_du_an}</td>
                        <td>{VALUE.mo_ta_ngan}</td>
                        <td>{VALUE.mo_ta_chi_tiet}</td>
                        <td>{VALUE.so_tien}</td>
                        <td>
                            <img src="{VALUE.hinh_anh}" style="max-width: 300px;">
                        </td>
                        <td>
                            <button class="delete btn btn-danger" data-id="{VALUE.id}">Xóa</button>
                            <button class="chuyenveduan btn btn-info" data-id="{VALUE.id}">Chuyển về dự án</button>
                        </td>
                    </tr>
                    <!-- END: list_du_an -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    CKEDITOR.replace( 'mo_ta_ngan' );
    CKEDITOR.replace( 'mo_ta_chi_tiet' );
</script>
<script>
    $(document).ready(function(){
        $('body').on('click', '.delete', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
                $.ajax({
                    type:'POST',
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachkhongduyet&delete=1',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        if(res.status){
                            toastr.success('Xóa dự án thành công !');
                            setTimeout(() => {
                                location.reload();
                            }, 500);
                        }
                    },
                   
                });
        });

        $('body').on('click', '.chuyenveduan', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
                $.ajax({
                    type:'POST',
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachkhongduyet&chuyenveduan=1',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        if(res.status){
                            toastr.success('Chuyển về dự án thành công !');
                            setTimeout(() => {
                                location.reload();
                            }, 500);
                        }
                    },
                   
                });
        });
    });
</script>
<!-- END: main -->
