<!-- BEGIN: main -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Danh sách dự án 
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên dự án</th>
                        <th>Mô tả ngắn</th>
                        <th>Mô tả chi tiết</th>
                        <th>Số tiền</th>
                        <th>Hình ảnh</th>
                        <th>Tình trạng</th>
                        <th>Duyệt dự án</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- BEGIN: list_du_an -->
                        <tr>
                            <th>{KEY}</th>
                            <td>{VALUE.ten_du_an}</td>
                            <td>{VALUE.mo_ta_ngan}</td>
                            <td>{VALUE.mo_ta_chi_tiet}</td>
                            <td>{VALUE.so_tien}</td>
                            <td>
                                <img src="{VALUE.hinh_anh}" style="max-width: 300px;">
                            </td>
                            <td>
                                {IS_OPEN}
                            </td>
                            <td>
                                {IS_DUYET}
                            </td>
                            <td>
                                <button class="delete btn btn-danger" data-id="{VALUE.id}">Xóa</button>
                                <button class="lichsu btn btn-info" data-id="{VALUE.id}">Lịch sử</button>
                            </td>
                        </tr>
                    <!-- END: list_du_an -->
                </tbody>
            </table>
            <div id="duyetModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="id_du_an">
                      <p>Nhập mã dự án</p>
                      <input type="text" id="ma_du_an" class="form-control">
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="acceptMaduan" class="btn btn-primary">Cập nhật</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    CKEDITOR.replace( 'mo_ta_ngan' );
    CKEDITOR.replace( 'mo_ta_chi_tiet' );
</script>
<script>
    $(document).ready(function(){
        $('body').on('click', '.change', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
                $.ajax({
                    type:'POST',
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&change=1',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        if(res.status){
                            toastr.success('Đổi trạng thái thành công !');
                            setTimeout(() => {
                                location.reload();
                            }, 500);
                        }
                    },
                   
                });
        });

        $('body').on('click', '.duyet', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
                $.ajax({
                    type:'POST',
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&duyet=1',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        $("#id_du_an").val(res.data.id);
                    },
                   
                });
        });

        $('body').on('click', '.unduyet', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
                $.ajax({
                    type:'POST',
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&unduyet=1',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        if(res.status){
                            toastr.success('Hủy duyệt dự án thành công !');
                            setTimeout(() => {
                                location.reload();
                            }, 500);
                        }
                    },
                   
                });
        });

        $('body').on('click', '.khongduyet', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
                $.ajax({
                    type:'POST',
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&khongduyet=1',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        if(res.status){
                            toastr.success('Không duyệt thành công !');
                            setTimeout(() => {
                                location.reload();
                            }, 500);
                        }
                    },
                   
                });
        });

        $('body').on('click', '.delete', function() {
            var payload = new FormData();
                payload.append('id', $(this).data('id'));
                $.ajax({
                    type:'POST',
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&delete=1',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        if(res.status){
                            toastr.success('Xóa dự án thành công !');
                            setTimeout(() => {
                                location.reload();
                            }, 500);
                        }
                    },
                   
                });
        });

        $("#acceptMaduan").click(function(){
            var payload = new FormData();
                payload.append('id', $("#id_du_an").val());
                payload.append('ma_du_an', $("#ma_du_an").val());

                $.ajax({
                    type:'POST',
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachduan&acceptMaduan=1',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        if(res.status){
                            toastr.success('Cập nhật mã dự án thành công !');
                            setTimeout(() => {
                                location.reload();
                            }, 500);
                        }else{
                            toastr.error(res.mess);
                        }
                    },
                   
                });
        });
    });
</script>
<!-- END: main -->
