<!-- BEGIN: main -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Thêm mới dự án 
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                  <label>Tên dự án</label>
                  <input type="text" class="form-control" id="ten_du_an">
                </div>
                <div class="form-group">
                    <label>Mô tả ngắn</label>
                    <textarea name="mo_ta_ngan" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label>Mô tả chi tiết</label>
                    <textarea name="mo_ta_chi_tiet" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label>Số tiền</label>
                    <input type="number" class="form-control" id="so_tien">
                  </div>
                  <div class="form-group">
                    <label>Hình ảnh</label>
                    <input type="file" class="form-control" id="image" multiple>
                  </div>
                  <div class="form-group">
                    <label>Thời hạn</label>
                    <input type="date" class="form-control" id="thoi_han">
                  </div>
                  <div class="form-group">
                    <label>Tình trạng</label>
                   <select class="form-control" id="is_open">
                        <option value="1">Hiển thị</option>
                        <option value="2">Tạm tắt</option>
                   </select>
                  </div>
                  <div class="text-right">
                    <button type="button" id="create" class="btn btn-primary" >Cập nhật</button>
                  </div>
              </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    CKEDITOR.replace( 'mo_ta_ngan' );
    CKEDITOR.replace( 'mo_ta_chi_tiet' );
</script>
<script>
    $(document).ready(function(){
        $("#create").click(function(){
            var hinh_anh = image.files;
            var payload = new FormData();
                payload.append('ten_du_an', $("#ten_du_an").val());
                payload.append('so_tien', $("#so_tien").val());
                payload.append('thoi_han', $("#thoi_han").val());
                payload.append('is_open', $("#is_open").val());
                payload.append('so_luong_anh', hinh_anh.length);
                for(var i = 0; i < hinh_anh.length; i++){
                    payload.append('hinh_anh_'+i, hinh_anh[i]);
                }
                payload.append('mo_ta_ngan', CKEDITOR.instances.mo_ta_ngan.getData());
                payload.append('mo_ta_chi_tiet', CKEDITOR.instances.mo_ta_chi_tiet.getData());
            
                $.ajax({
                    type:'POST',
                    url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=main&create=1',
                    data:payload,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        if(res.status){
                            toastr.success(res.mess);
                        }else{
                            $.each(res.mess , function(key, value){
                                toastr.error(value);
                            });
                        }
                    },
                   
                });
        });
    });
</script>
<!-- END: main -->
